<div id="home-body">
  <div id="home-grow">
    <div id="home-left"></div>
    <div id="home-right">
      <div id="home-show" class="text-center my-5">
        <img src="assets/img/title.png" alt="Home Logo" height="100">
        <h1 class="display-1 text-white mt-4">Lyft Me</h1>
        <h3>A service to get lift from a friendly rider.</h3>
      </div>
      <div id="home-start" class="text-center m-5">
        <button class="btn btn-light btn-lg" (click)="login()">Get Started</button>
      </div>
    </div>
  </div>
</div>
