<div id="console-body">
  <div id="console-grow">
    <div class="map" id="mapElement"></div>
    <div id="content-section">
      <div id="user-section">
        <div id="user-profile"><img [src]="picture" alt="User-Profile" class="img-thumbnail" id="user_img"></div>
        <div id="user-data" class="text-center">
          <h6 id="username" class="display-6"></h6>
          <button class="btn btn-danger m-3" (click)="logout()">Log Out</button>
        </div>
      </div>
      <button class="btn btn-danger m-3" (click)="reset()">Reset Markers </button>

          <div class="form-group" style="margin-bottom: 20px;">
            <label for="Coordinate_Place" class="coordinate ml-20">Coordinates : </label>
            <h6 class="ml-20">{{showLatLong}}</h6>
            <input type="text"  class=" form-control" id="Coordinate_Place"
              placeholder="Enter Location Name" class="ml-20">
          </div>
        <button type="submit" (click)="saveForm()" class="btn btn-primary ml-20">Submit</button>
    </div>
  </div>
