<div id="console-body">
  <div id="console-grow">
    <div class="map" id="mapElement"></div>
    <div id="content-section">
      <div id="user-section">
        <div id="user-profile"><img [src]="picture" alt="User-Profile" class="img-thumbnail" id="user_img"></div>
        <div id="user-data" class="text-center">
          <h6 id="username" class="display-6"></h6>
          <button class="btn btn-danger m-3" (click)="logout()">Log Out</button>
        </div>
      </div>

      <div>
        <form action="">
          <label for="" class="">Latitude</label>
        </form>
      </div>
    </div>
  </div>
