<div id="console-body">
  <div id="console-grow">
    <div id="map-section"></div>
    <div id="content-section">
      <div id="user-section">
        <div id="user-profile"><img
            src="/assets/img/user_img.jpg"
            alt="User-Profile" class="img-thumbnail"></div>
        <div id="user-data" class="text-white text-center">
          <h5 id="username">Name: Faizan Azim</h5>
          <button class="btn btn-danger m-3" (click)="logout()">Log Out</button>
        </div>
      </div>
      <div id="people-section"></div>
    </div>
  </div>
</div>
