<div id="console-body">
  <div id="console-grow">
    <div class="map" id="mapElement"></div>
    <div id="content-section">
      <div id="user-section">
        <div id="user-profile"><img
            src="/assets/img/user_img.jpg"
            alt="User-Profile" class="img-thumbnail"></div>
        <div id="user-data" class="text-white text-center">
          <h5 id="username">Name: Faizan Azim</h5>
          <button class="btn btn-danger m-3" (click)="logout()">Log Out</button>
        </div>
      </div>
      <div id="people-section">
        <div class="person-wrapper bg-dark">
          <div class="person-details">
            <img src="/assets/img/user_img.jpg" alt="User-1" class="person-img">
            <div class="person text-center">
              <span class="person-name text-white">Faizan Azim</span>
              <span class="person-distance text-white">22 KM</span>
            </div>
          </div>
          <div class="person-request">
            <button class="btn btn-primary btn-sm m-2">Pick Up</button>
            <button class="btn btn-secondary btn-sm m-2">Ride</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
